body {
  overflow-x: hidden;
}

h1 {
  font-size: 100px;
  position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

p {
  font-size: 50px;
  position: absolute;
  bottom: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.image {
  width: 200px;
  height: 200px;
  background-color: rgb(121, 201, 119);
  display: block;
  margin: 0 auto;
  margin-top: 25%;
  transform: rotate(90deg);
}

.frog {
  animation: imagerotation 2s linear infinite alternate-reverse;
}

@keyframes imagerotation {
  0% {
    transform: perspective(1000px) rotateY(0deg);
}
100% {
    transform: perspective(1000px) rotateY(360deg);
}
}

.hiddentext {
  display: none;
}

.border1 {
  display: none;
}

.border2 {
  display: none;
}